<div>
    <p class="flow-text">Welcome to.... MELODIST</p>

    <button class="waves-effect waves-light btn" ng-click="play()">Play</button>
    <button class="waves-effect waves-light btn" ng-click="randomize()">Randomize</button>
    <!--<p>{{ tagline }}</p>-->

    <br />
    <br />

    <div class="input-field col s12">
        <select ng-model="selectedKey">
            <option ng-repeat="tone in tones" value="{{tone}}">{{tone}}</option>
        </select>
        <label>Key</label>
    </div>

</div>