<div>
    <h1>Melodist</h1>

    <!---<br />-->

    <div class="input-field col s12">
        <select ng-model="selectedKey">
            <option value="" disabled selected>Select a Key</option>
            <option ng-repeat="tone in tones" value="{{ tone.note }}">{{ tone.noteText }}</option>
        </select>
        <label>Key</label>
    </div>

    <br/>

    <div class="input-field col s12">
        <select ng-model="selectedScale">
            <option value="" disabled selected>Select One</option>
            <option ng-repeat="scale in scales" value="{{ scale.scale }}">{{ scale.scaleText }}</option>
        </select>
        <label>Scale</label>
    </div>

    <br />

    <div class="col s12">
        <div class="row">
            <div class="col s6">
                <label>BPM: {{ bpm }}</label>
                <p class="range-field">
                    <input class=""type="range" id="bpm_range" ng-model="bpm" min="{{ minBPM }}" max="{{ maxBPM }}"/>
                </p>
            </div>
            <div class="col s2">
                <label class="center-align">Quarter Notes</label>
                <div class="switch">
                    <label>
                        Off
                        <input ng-model="quarterOn" type="checkbox">
                        <span class="lever"></span>
                        On
                    </label>
                </div>
            </div>
            <div class="col s2">
                <label>Eighth Notes</label>
                <div class="switch">
                    <label>
                        Off
                        <input ng-model="eighthOn" type="checkbox">
                        <span class="lever"></span>
                        On
                    </label>
                </div>
            </div>
            <div class="col s2">
                <label>Sixteenth Notes</label>
                <div class="switch">
                    <label>
                        Off
                        <input ng-model="sixteenthOn" checked type="checkbox">
                        <span class="lever"></span>
                        On
                    </label>
                </div>
            </div>
        </div>
    </div>

    <br/>

    <button class="waves-effect waves-light btn blue" ng-click="play()"><i class="material-icons left">play_arrow</i>Play
    </button>
    <button class="waves-effect waves-light btn blue" ng-click="stop()"><i class="material-icons left">stop</i>Stop
    </button>
    <button class="waves-effect waves-light btn blue" ng-click="randomize()"><i class="material-icons left">album</i>Randomize
    </button>

    <div id="clef"></div>
    <after-render></after-render>

</div>